@font-face {
  font-family: 'NotoSans-Light';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Light.ttf');
}

@font-face {
  font-family: 'NotoSans-Thin';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Thin.ttf');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-Semi';
  src: url('../assets/fonts/Noto_Sans/NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'NotoSans-Black';
  src: url('../assets/fonts/Noto_Sans/NotoSans-Black.ttf');
}
